MicroService/Properties/PublishProfiles/
.vs/
MicroService/bin/
MicroService/obj/
MicroServiceConsumer/bin/
MicroServiceConsumer/obj/
RestTemplateCore/bin/
RestTemplateCore/obj/
MicroServiceConsumer/Properties/PublishProfiles/
AopTest/bin/
AopTest/obj/
MicroServiceGateWay/bin/
MicroServiceGateWay/obj/
MicroServiceIdentityServer/bin/
MicroServiceIdentityServer/obj/
PollyAspectCore/bin/
PollyAspectCore/obj/
PollyTest/bin/
PollyTest/obj/
IdentityClient/bin/
IdentityClient/obj/
MicroService.Thrift.RPC.Client/bin/
MicroService.Thrift.RPC.Client/obj/
MicroService.Thrift.RPC.Contract/bin/
MicroService.Thrift.RPC.Contract/obj/
MicroService.Thrift.RPC.Server/bin/
MicroService.Thrift.RPC.Server/obj/
